*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    margin: 1rem;

}
body{
    background-color: #FFE5D9;
    font-family: 'Times New Roman', Times, serif;
}
.menu{
    background-color: #9D8189;
    padding: 0;
    list-style-type: none;
    margin: 20px auto;
    text-align: center;
    font-size: 20px;
}
.menu li{
    display: inline-block;
    text-align: center;
}
.menu li a{
    padding: 20px;
    margin: 10px;
    color: #FFE5D9;
    text-decoration: none;
    display: inline-block;
}
.menu li a:hover{
    color: #9D8189;
    background-color: #FFE5D9;
    border-radius: 50px;
}
.textosGlobal{
    display: flex;
    justify-content: space-around;
}
.tituloMat{
    text-align: center;
    color: #9D8189;
    font-size: 45px;
    font-weight: bold;
}
.imgIndex{
    margin: 1rem;
    padding: 1rem;
    height: 500px;
    width: 450px;
    border-radius: 50px;
}
.textoIndex{
    padding: 2rem;
    text-align: left;
    background-color: #9D8189;
    color: #FFE5D9;
    border-radius: 50px;
    font-size: 30px;
}
.footerIndex{
    position: absolute;
    width: 96%;
    margin: 1.5rem;
}

.siguiente{
    background-color: #9D8189;
    padding: 0;
    list-style-type: none;
    margin: 20px auto;
    text-align: center;
    font-size: 20px;
}
.siguiente li{
    display: inline-block;
    text-align: center;
}
.siguiente li a{
    padding: 20px;
    margin: 10px;
    color: #FFE5D9;
    text-decoration: none;
    display: inline-block;
}
.siguiente li a:hover{
    color: #9D8189;
    background-color: #FFE5D9;
    border-radius: 50px;
}

.tituloHab{
    display: flex;
    justify-content: space-around;
    color: #9D8189;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.textoHab{
    margin: 1rem;
    padding: 3rem;
    background-color: #9D8189;
    color: #FFE5D9;
    border-radius: 50px;
    font-size: 40px;
}
.textoIdiomas{
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 2rem;
    background-color: #9D8189;
    color: #FFE5D9;
    border-radius: 50px;
    font-size: 40px;
}
.banderasHab{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.banderaBrit{
    padding: 1rem;
    height: 170px;
    width: 320px;
    border-radius: 50px;
}
.banderaEsp{
    padding: 1rem;
    height: 170px;
    width: 320px;
    border-radius: 50px;
}
.footerHab{
    position: absolute;
    width: 96%;
    margin: 1.5rem;
}

.tituloEstudios{
    display: flex;
    justify-content: space-around;
    color: #9D8189;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
}
.textoEstudios{
    margin: 1rem;
    padding: 3rem;
    background-color: #9D8189;
    color: #FFE5D9;
    border-radius: 50px;
    font-size: 40px;
}
.textoExtras{
    margin: 1rem;
    padding: 3rem;
    background-color: #9D8189;
    color: #FFE5D9;
    border-radius: 50px;
    font-size: 40px;
}
.logosEstudios{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.logoEcea{
    padding: 1rem;
    height: 150px;
    width: 200px;
    border-radius: 50px;
}
.logoUade{
    padding: 1rem;
    height: 150px;
    width: 300px;
    border-radius: 50px;
}
.footerEstudios{
    position: absolute;
    width: 96%;
    margin: 1.5rem;
}
.tituloExpLaboral{
    position: relative;
    color: #9D8189;
    margin: 2rem;
    padding: 2rem;
    font-size: 50px;
    font-weight: bold;
    text-align: Top;
    left: 100px;
}
.texto5{
    position: absolute;
    bottom: 200px;
    left: 100px;
    margin: 3rem;
    padding: 3rem;
    background-color: #9D8189;
    color: #FFE5D9;
    border-radius: 50px;
    font-size: 40px;
}
.voluntariado{
    position: relative;
    color: #9D8189;
    margin: 2rem;
    padding: 2rem;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    bottom: 178px;
    left: 300px;
}
.texto6{
    position: absolute;
    bottom: 247px;
    left: 1000px;
    margin: 3rem;
    padding: 3rem;
    background-color: #9D8189;
    color: #FFE5D9;
    border-radius: 50px;
    font-size: 40px;
}
.footerExpLaboral{
    position: relative;
    margin: 2rem;
    top: 250px;
}
.tituloContacto{
    position: relative;
    color: #9D8189;
    margin: 2rem;
    padding: 2rem;
    font-size: 50px;
    font-weight: bold;
    text-align: Top;
    left: 200px;
}
.texto7{
    position: absolute;
    bottom: 247px;
    left: 200px;
    margin: 3rem;
    padding: 3rem;
    background-color: #9D8189;
    color: #FFE5D9;
    border-radius: 50px;
    font-size: 40px;
}
.imagen2{
    position: relative;
    margin: 1rem;
    padding: 1rem;
    height: 500px;
    width: 397px;
    border-radius: 50px;
    left: 800px;
}
.footerContacto{
    position: relative;
    margin: 2rem;
    bottom: 50px;
}